################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp5/FileContentIndex/56d8de78-bcd9-4d32-848f-16f1855087d2.vsidx
/.vs/ConsoleApp5/FileContentIndex
